{% extends '::base.html.twig' %}

{% block body %}
    <!-- Website CSS style -->
    <p style="margin-top: 40px;"></p>
    {{ form_start(form) }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    {#<form method="post">#}
        {#{% for err in errors %}#}
    {#{{ dump(errors) }}#}
        {#{% if errors %}#}
            {#{{ errors }}#}
        {#{% endif %}#}

        {#{% endfor %}#}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="main-login main-center">
                <h1>Register Now</h1><hr>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">{{ form_label(form.username) }}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">{{ form_label(form.password) }}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                {{ form_widget(form.password.first,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">{{ form_label(form.password.second) }}*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form_widget(form.password.second,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">{{ form_label(form.email) }}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="cols-sm-2 control-label">{{ form_label(form.firstname) }}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.firstname,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="cols-sm-2 control-label">{{ form_label(form.lastname)}}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.lastname,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="cols-sm-2 control-label">{{ form_label(form.city) }}*</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-building fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.city,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                {#<input type="submit" >#}

                    <div class="form-group ">
                        <a href="{{ path('register_form_submit') }}" >
                            <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" value="Register">
                        </a>
                    </div>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    {#</form>#}
{{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

