{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="single-product-image-inner">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="one">
                        <img src="/images/project/{{ product.image }}" width="555" height="535" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-offset-1 col-md-5 col-sm-6">
            <div class="single-product-details">
                <div class="list-pro-rating">
                    <i class="fa fa-star icolor"></i>
                    <i class="fa fa-star icolor"></i>
                    <i class="fa fa-star icolor"></i>
                    <i class="fa fa-star icolor"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h2>{{ product.name }}</h2><hr>
                <i> <h4>quantity in stock: <b>{{product.quantity}}</b></h4></i>
                <p>{{ product.description }}</p>
                <div class="single-product-price">
                    <h2>{{ product.price }} лв.</h2>
                </div>
                    <form action="{{ path('cart_add', {'id': product.id}) }}">
                <div class="product-attributes clearfix">
                           <span class="pull-left" id="quantity-wanted-p">
                           <input type="text"  class="cart-plus-minus-box" name="qty" placeholder="Set Quantity">
                           </span>
                    <span>
                        <input type="submit" class="fa fa-cart-plus" value="Add to Cart">

                           </span>

                </div>
                    </form>

                <div class="single-product-categories">
                    <label>Categories:</label>
                    <span>{{ product.category }}</span>
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_EDITOR") %}

                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        <button>
                            <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                        </button>
                    {% endif %}
                    <br>


    </div>
            </div>
            </div>
            </div>


{% endblock %}
